<div class="container home-wrapper round-div transparent-black">
  <div class="row row-margin">
    <div class="col-sm">
      <div class="container">
        <img class="container round-div white image-placeholder" src="assets/img/food-inventory.png">
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <img class="container round-div white image-placeholder" src="assets/img/recipes.png">
      </div>
    </div>
  </div>
  <div class="row row-margin">
    <div class="col-sm">
      <div class="container">
        <img class="container round-div white image-placeholder" src="assets/img/ingredients.png">
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <img class="container round-div white image-placeholder" src="assets/img/shopping-list.png">
      </div>
    </div>
  </div>
</div>
