<div class="container home-wrapper round-div transparent-black">
  <div class="row">
    <div class="col-sm mt-3">
      <div class="container">
        <img class="container round-div white image-placeholder" src="assets/img/food-inventory.png" (click)="onPantrySelect()">
      </div>
    </div>
    <div class="col-sm mt-3">
      <div class="container">
        <img class="container round-div white image-placeholder" src="assets/img/recipes.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm mt-3">
      <div class="container">
        <img class="container round-div white image-placeholder" src="assets/img/ingredients.png" (click)="onIngredientsSelect()">
      </div>
    </div>
    <div class="col-sm mt-3">
      <div class="container">
        <img class="container round-div white image-placeholder" src="assets/img/shopping-list.png">
      </div>
    </div>
  </div>
</div>
