.dialog {
  overflow-y: auto;
  height: calc(100vh - (60px + 10px + 20px + 40px + 10px + 20px + 15px));
  /* 100% -
    (navbar
    + navbar-margin-bottom
    + padding-top
    + ingredients-header
    + margin-ingredieants-header-bottom
    + padding-bottom
    + gap-bottom) */
}

.ingredient-dialog {
  padding-top: 20%;
}

.ingredient-image {
  display: inline-block;
  vertical-align:top;
  width: 33%;
}

.ingredient-details {
  display: inline-block;
  width: 66%;
}

.ingredient-detail {
  display: block;
}

.gap {
  display: inline-block;
  width: 15px;
}

.btn {
  width: 75px;
}
