<div class="container home-wrapper round-div transparent-black">
  <h2 class="container">Ingredient</h2>
  <div class="container round-div dialog white">
    <form class="container ingredient-dialog">
      <img class="container ingredient-image" src="assets/img/ingredient-placeholder.png">
      <div class="container ingredient-details">
        <div class="container ingredient-detail">
          <label>Name:</label>
          <div class="gap"></div>
          <input type="text" name="name" value="{{name}}">
        </div>
        <div class="container ingredient-detail">
          <label>Unit:</label>
          <div class="gap"></div>
          <mat-select style="width: 80%;" [(value)]="unit">
            <mat-option value="none">None (none)</mat-option>
            <mat-option value="g">Gramm (g)</mat-option>
            <mat-option value="kg">Kilogramm (kg)</mat-option>
            <mat-option value="l">Liter (l)</mat-option>
            <mat-option value="ml">Milliliter (ml)</mat-option>
          </mat-select>
        </div>
        <div class="container ingredient-detail">
          <label>Basic:</label>
          <div class="gap"></div>
          <input type="checkbox" name="isBasic" value="true">
        </div>
        <div class="container ingredient-detail">
          <label class="hint">Basic ingredients will be considered to be available all the time and hence don't appear in your shopping list</label>
        </div>
        <div class="container ingredient-detail">
          <input class="btn btn-danger" type="submit" value="Cancel">
          <div class="gap"></div>
          <input class="btn btn-success" type="submit" value="Save">
        </div>
      </div>
    </form>
  </div>
</div>
