<div class="container background-wrapper round-div transparent-black">
  <h2 class="container" style="display: inline">Recipes</h2>
  <img class="container image-placeholder back-button" src="assets/img/back-button.png" (click)="onBack()">
  <mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="All Recipes">
      <app-list-recipes
        [recipes]="getRecipes()"
        [readOnly]="false">
      </app-list-recipes>
    </mat-tab>
    <mat-tab label="Recipe Finder">
      <app-recipe-finder
        (foundRecipes)="onSearch($event)">
      </app-recipe-finder>
    </mat-tab>
    <mat-tab label="Suggested Recipes">
      <app-list-recipes
        [recipes]="foundRecipes"
        [readOnly]="true">
      </app-list-recipes>
    </mat-tab>
  </mat-tab-group>
</div>
