<div>
  <nav class="navbarheader">
    <div style="text-align: center">
      <h1>
        {{title}}
      </h1>
    </div>
  </nav>
  <app-login *ngIf="navigatorService.isLoginStage"></app-login>
  <app-home *ngIf="navigatorService.isHomeStage"></app-home>
  <app-ingredients *ngIf="navigatorService.isIngredientsStage"></app-ingredients>
  <app-ingredient-dialog *ngIf="navigatorService.isIngredientDialogStage"></app-ingredient-dialog>
  <app-pantry *ngIf="navigatorService.isPantryStage"></app-pantry>
  <app-pantry-dialog *ngIf="navigatorService.isPantryDialogStage"></app-pantry-dialog>
</div>

