<div class="container background-wrapper round-div transparent-black">
  <h2 class="container" style="display: inline">Pantry</h2>
  <img class="container image-placeholder back-button" src="assets/img/back-button.png" (click)="onBack()">
  <div class="container ingredients-wrapper">
    <div *ngFor="let ingredient of ingredients" class="container round-div ingredient"
     (click)="onIngredientSelect(ingredient[0].id, ingredient[0].name, ingredient[0].unit, ingredient[0].isBasic)">
      <img class="container image-placeholder" src="assets/img/ingredient-placeholder.png">
      <label>{{getLabel(ingredient[0], ingredient[1])}}</label>
    </div>
    <div class="container round-div ingredient">
      <img class="container image-placeholder add-ingredient" src="assets/img/add.png" (click)="onIngredientSelect()">
    </div>
  </div>
</div>
